*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --primaryFont: 'Lato', sans-serif;
    --secondaryFont: 'Nunito', sans-serif;
    --lightColor: #EFEFEF;
    --lighterColor: #FDF6EC;
    --darkerColor: #212121;
    --darkColor: #323232;
}

body{
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
}

.dark_body{
    background-color: var(--darkerColor);
    color: var(--lighterColor);
}

.dark_body > .navbar__container{
    background-color: var(--darkColor);
}

.dark_body .nav-link{
    color: var(--lightColor);
}

.dark_body #main-doc code{
    background-color: #323232;
}
/* .................................... */
/* NAVBAR */
.navbar__container{
    width: 300px;
    height: 100vh;
    background-color: var(--lightColor);
    position: fixed;
    left: 0;
    z-index: 9999;
}

.navbar__header{
    width: 100%;
    height: 80px;
    background-color: #C8C2BC;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.dark_body .navbar__container > .navbar__header{
    background-color: #0F0E0E;
    color: #FFCA03;
}
.navbar__header h1{
    font-family: var(--primaryFont);
    font-weight: 900;
    white-space: nowrap;
    overflow: hidden;
}

#mobile_btn{
    display: none;
}

.navbar__theme_btn{
    outline: none;
    border: none;
    background: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.navbar__theme_btn i{
    color: gray;
}

.lightbulb_on i{
    color: #FFF323;
}

.navbar__links_container{
    width: 100%;
    height: 85%;
    margin-top: 10px;
    overflow-y: auto;
}

.navbar__links{
    padding-left: 2rem;
    padding-right: 0.5rem;
    height: 100%;
    list-style: none;
}

.nav-link{
    display: block;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: var(--secondaryFont);
    color: #0F0E0E;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
}

.nav-link:hover{
    background-color: #C8C2BC;
    color: #0F0E0E;
    padding-left: 0.5rem;
}

/* .............................. */
/* MAIN DOC */

#main-doc{
    width: auto;
    height: auto;
    margin-left: 320px;
    padding: 5rem 2rem;
}

#main-doc > .main-section:not(:first-child){
    margin-top: 5rem;
}

.main-section header{
    font-family: var(--primaryFont);
    border-bottom: 3px solid var(--darkColor);
    padding-bottom: 0.5rem;
}

.main-section p {
    font-family: var(--secondaryFont);
    margin: 20px 0;
}

.main-section ul {
    font-family: var(--secondaryFont);
    font-size: 0.9rem;
    padding-left: 4rem;
    width: 100%;
}

.main-section ul li{
    margin-bottom: 10px;
}

.main-section ul li ul{
    margin-top: 10px;
}

.main-section code{
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal; 
    word-wrap: normal;
    line-height: 2;
    background-color: #ECF0F1;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.single_list{
    margin: 20px 0;
}

@media screen and (max-width: 650px) {
    .navbar__container{
        width: 10%;
        transition: width 0.5s ease-in-out;
    }

    .navbar-open{
        width: 80%;
    }

    .navbar__header{
        padding-left: 1rem;
    }

    .navbar__links_container{
        width: 0;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .navbar-open .navbar__links_container{
        width: 100%;
    }

    #mobile_btn{
        display: block;
        position: absolute;
        outline: none;
        border: none;
    }

    #mobile_btn i{
        color: var(--lightColor);
    }

    #mobile_btn, .navbar__theme_btn{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: #323232;
        right: -20px;
    }

    .navbar__theme_btn{
        bottom: -25px;
    }

    /* Main doc */
    #main-doc{
        width: auto;
        height: auto;
        padding: 2rem 1rem 2rem 5rem;
        margin-left: 0;
    }    
    
}